/* https://coolors.co/palette/e63946-f1faee-a8dadc-457b9d-1d3557 */

body {
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
}
h1 {
    color: #E63946;
}
button {
    background: none;
    color: #A8DADC;
    border: 2px solid;
    padding: 1em 2em;
    font-size: 1em;
    border-radius: 10px;
    transition: all 0.2s;
}
button:hover {
    border-color: #E63946;
    color:#F1FAEE;
    border: solid;
    box-shadow: 0 0.5em 0.5em -0.1em #f1faee34;
    transform: translateY(-0.25em);
}
a {
    text-decoration: none;
}

/* MAIN  */
.container {
    display: flex;
    flex-direction: column;
}
.navbar {
    display: flex;
    color: #F1FAEE;
    background-color: #1D3557;
    padding: 8px 48px 0px 48px;
    justify-content: space-between;
    align-items: center;
}
.navbar a {
    color: #F1FAEE;
    padding: 10px;
}
.hero {
    color: #F1FAEE;
    background-color: #1D3557;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 48px 48px 48px;
}
#hero1 {
    display: flex;
    flex-basis: 400px;
    flex-direction: column;
    text-align: left;
    margin-right: 50px;
}
#hero2 img {
    max-width: 400px;
    border: 3px solid #F1FAEE;
    border-radius: 10px;
}

/* INFO MAIN  */
.content {
    color: #1D3557;
    background-color: #F1FAEE;
}

#content_info {
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}
#content_info img {
    border: 3px solid red;
    border-radius: 10px;
    margin: 0px 30px 0px 30px;
    max-width: 150px;
    max-height: 150px;
}
#content_info img:hover {
    transform: translateY(-0.25em);
    box-shadow: 0 0.5em 0.5em -0.1em rgba(0, 0, 0, 0.459);
    transition: all 0.2s;
}
/* quote  */
.quote {
    display: flex;
    flex-direction: column;
    color: #F1FAEE;
    font-size: 1.5em;
    background-color: #A8DADC;
    padding: 48px 200px;
    text-shadow: 1px 1.5px 5px black;
}

/* CTA  */
.signup_con {
    color: #F1FAEE;
    background-color: #457B9D;
    padding: 20px;
}
.signup {
    background-color: #E63946;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 48px 200px;
    padding: 30px 0px;
    border-radius: 5px;
}
.signup button {
    color: #F1FAEE;
}

/* footer  */
 footer {
    color: #F1FAEE;
    font-size: 10px;
    background-color: #1D3557;
    padding: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 /* lol_button */

.lol_body {
    background-color: #E63946;
    color: #A8DADC;
}
.lol_main {
    margin: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.lol_main a {
    color: #A8DADC;
}
.secret {
    text-align: center;
}
